@model Cumulative1.Models.Teacher

<h2>Add New Teacher</h2>

<form method="post" action="/TeacherPage/Add">
    <div>
        <label>First Name:</label>
        <input type="text" name="TeacherFName" required />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="TeacherLName" required />
    </div>
    <div>
        <button type="submit">Add Teacher</button>
    </div>
</form>
